/*  Start Global Values */
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none
}
::-webkit-scrollbar {
  width: 12px;

}
::-webkit-scrollbar-track {
  background: #d4ac8d; 
}
::-webkit-scrollbar-thumb {
  background:#000;
  border-radius: 14px;
}
::-webkit-scrollbar-thumb:hover {
  background:#4a4949;
}

/*start variables */
:root{
  --btn-color:#436072;
  --alt-color:#416f8d ;
  --red-color:#c12323;
  --background-image: linear-gradient(to right top, #b28e99, #937b8f, #716981, #4e596f, #2f4858);
  --gray-color:#d4c8c5   ;
  --yellow-color:#ebceb6;
  --tex-color:#313030;
}
.dark{

}
/*End variables */
body{
  font-family: "Fira Sans Condensed";
  background-image: var(--background-image);
}

.container{
  background-color: var(--yellow-color);
  margin: 70px auto;
  padding:20px 50px;
  border-radius: 4px;
  overflow:hidden;
  border: 14px solid #797f96;
  outline: 11px solid #000;
}
/*  End Global Values */

/* Start @media Quire*/

/* Small */
@media (min-width: 767px) {
.container {
  width: 750px;
}
}
/* Medium */
@media (min-width: 992px) {
.container {
  width: 970px;
}
}
/* Large */
@media (min-width: 1200px) {
.container {
  width: 1170px;
}
}
/* End @media Quire*/
header{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 50px 0;
  position: relative;
}
header .title{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
header .title img{
  width: 100px;
  margin-bottom: 15px;
}
header .title h1{
  text-align: center;
  font-weight: 500;
  font-size: 45px;
  color:var(--tex-color);
}
header .title p{
  text-align: center;
  margin-top: -10px;
  margin-bottom:50px;
  font-size: 20px;
  font-weight: 500;
  color:var(--tex-color);
  /* color:var(--btn-color); */
}
header .lang-mood{
  position: absolute;
  right: 5px;
  top: -30px;
}
header .lang-mood img{
  width: 30px;
  cursor: pointer;
}
header .lang-mood #light_mode{
  display: none;
}
input{
  border-radius: 4px;
  outline: none;
  width: 100%;
  height: 40px;
  padding:0 10px;
  margin-bottom: 22px;
  display: block;
  border: 1px solid var(--btn-color);
  font-size: 22px;
  font-weight: 400;
}
input::placeholder{
  color: var(--red-color);
  font-weight: 300;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border:none;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 0;
  width: 100%;
  margin-bottom: 22px;
  background-color: var(--btn-color);
  color: #edebeb;
  font-size: 22px;
  font-weight: 400;
  transition: .2s;
  user-select: none;
  text-align: center;
}
.btn img{
  width: 20px;
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(131deg) brightness(103%) contrast(101%);
}
.btn:hover{
  background-color: var(--alt-color);
}
.price{
  display: flex;
  align-items: center;
  gap: 10px;
}
.price input{
  width: 40%;
}
.price small {
  background-color: #000 ;
  margin-bottom: 22px;
  font-size: 20px;
  width: 350px;
  padding:7px;
  border-radius: 4px;
  color: #edebeb;
  overflow: hidden ;
  font-weight: 600;
  height: 39px;
}
.price small::before{
  content: "Total : ";
}
.search{
  display: flex;
  gap: 100px;
}
.responsive-table{
  overflow-x: auto;
}
table{
  min-width: 100%;
  text-align: center;
  margin: 0px auto ;
  padding: 15px;
  font-weight: 300;
  background-color: #000;
  color: #edebeb;
  border-collapse: collapse;
  border-spacing:0 ;
} 
th{
  padding:10px 5px;
  font-size: 25px;
  font-weight: 400;
  border: 3px solid var(--btn-color);
  user-select: none;
}
td{
  border: 3px solid var(--btn-color);
  font-size: 26px;
  padding: 5px;
  width: auto;
}
tbody tr td {
  width: 140px !important;
}
.update,
.delete{
  margin: 10px 0;
}
.delete:hover{
  color: var(--red-color);
}
.update:hover{
  color: #059b2a;
}
#deleteAll{
  background-color: var(--red-color);
}
#deleteAll:hover{
  background-color:#962121;
}
@media(max-width:960px){
  header{
    flex-direction: column;
    margin: 40px 0 0;
  }
  header .title {
    flex-direction: column;
    margin-bottom: 0px;
    gap: 0;
  }
  header .title img{
    margin-bottom: 0px;
  }
  header .title h1{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
  }
  header .title p{
    text-align: center;
    margin-top: -10px;
    margin-bottom:50px;
    font-size: 18px;
    font-weight: 400;
  }
  .container{
    margin: 20px 14px;
    padding:10px;
    border-radius: 4px;
    overflow:hidden;
    border: 5px solid #797f96;
    outline: 5px solid #000;
  }
  .price{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .price input{
    width: 100%;
  }
  .price small{
    width: 100%;
  }
  .search{
    flex-direction: column;
    gap: 0;
  }
}