
/*  Start Global Values */
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none
}
/*start variables */
:root{
  --main-color: #4a58ef;
  --alt-color:#424bb4 ;
  --red-color:#c12323;
}
/*End variables */
body{
  font-family: "Fira Sans Condensed";
  background-color: #a4a9c3 ;
}
.container{
  background-color: #f8e4de;
  margin: 50px auto;
  padding:50px;
  border-radius: 4px;
  overflow:hidden;
  width: 80% !important;
  border: 3px solid #000;
}
/*  End Global Values */

/* Start @media Quire*/

/* Small */
@media (min-width: 767px) {
.container {
  width: 750px;
}
}
/* Medium */
@media (min-width: 992px) {
.container {
  width: 970px;
}
}
/* Large */
@media (min-width: 1200px) {
.container {
  width: 1170px;
}
}
/* End @media Quire*/
header{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
header img{
  width: 100px;
  margin-bottom: 15px;
}
header h1{
  text-align: center;
  font-weight: 700;
  font-size: 45px;
  color:#000;
}
header p{
  text-align: center;
  margin-top: -10px;
  margin-bottom:50px;
  font-size: 20px;
  font-weight: 600;
  color:#000;
}
input{
  border-radius: 4px;
  outline: none;
  width: 100%;
  height: 40px;
  padding:0 10px;
  margin-bottom: 22px;
  display: block;
  border: 1px solid var(--main-color);
  font-size: 22px;
  font-weight: 600;
}
input::placeholder{
  color: var(--red-color);
  font-weight: 500;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border:none;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 0;
  width: 100%;
  margin-bottom: 22px;
  background-color: var(--main-color);
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  transition: .2s;
  user-select: none;
  text-align: center;
}
.btn img{
  width: 20px;
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(131deg) brightness(103%) contrast(101%);
}
.btn:hover{
  background-color: var(--alt-color);
}
.price{
  display: flex;
  align-items: center;
  gap: 10px;
}
.price input{
  width: 40%;
}
.price small {
  background-color: #a4a9c3 ;
  margin-bottom: 22px;
  font-size: 22px;
  width: 350px;
  padding:8px;
  border-radius: 4px;
  color: white;
  overflow: hidden ;
  font-weight: 600;
}
.price small::before{
  content: "Total : ";

}
.search{
  display: flex;
  gap: 100px;
}
.responsive-table{
  overflow-x:a;
}
table{
  min-width: 100%;
  text-align: center;
  margin: 0px auto ;
  padding: 15px;
  font-weight: 400;
  background-color: #000;
  color: #fff;
  border-collapse: collapse;
  border-spacing:0 ;
  overflow: scroll;
} 
th{
  padding:10px 5px;
  font-size: 25px;
  font-weight: 600;
  border: 3px solid var(--main-color);
  user-select: none;
}
td{
  border: 3px solid var(--main-color);
  font-size: 26px;
  padding: 5px;
}
.update,
.delete{
  margin: 10px 0;
}
.delete:hover{
  color: var(--red-color);
}
.update:hover{
  color: #059b2a;
}
#deleteAll{
  background-color: var(--red-color);
}
#deleteAll:hover{
  background-color:#962121;
}
